@import 'reset';

// $bg-color: #131716;
// $text-color: white;

$bg-color: white;
$text-color: #1C140D;
$alt-color: #5bc528;
$alt-color-2: #034078;

$content-width: 800px;
$content-padding: 20px;


@mixin headerFont() {
  font-family: 'Raleway', sans-serif;
}
@mixin mainTextFont() {
  font-family: 'Roboto', sans-serif;
}

body {
  background: $bg-color;
}

h1, h2 {
  @include headerFont;
}

html {
  @include mainTextFont;
  color: $text-color;
  font-size: 18px;

  @media (min-width: 800px) {
    font-size: 18px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

h1 { font-size: 3em; } // 50 ÷ 16 = 3.125
h2 { font-size: 2.5em;} // 37 ÷ 16 = 2.3125
h3 { font-size: 2em; } // 28 ÷ 16 = 1.75

#svg-bg {
  width: 100vmax;
  height: 100vmax;
  position: absolute;
  top: 50%;
  margin-top: -50vmax;
  left: 0;
  z-index: 5;
}

@supports (object-fit: cover) {
    #svg-bg {
      object-fit: cover;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: 0;
    }
}

.title-container {
  height: 75vh;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;


  .title-content {
    position: relative;
    z-index: 20;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( to bottom, transparent, $bg-color);
  }
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $content-padding;
  width: 100%;
}

h1 {
  margin-bottom: 0.1em;
}
h2 {
  color: $alt-color;
}
h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  position: relative;
  display: inline-block;
  color: white;
  padding: 0 10px;
  &:before {
    content: '';
    background: rgba($text-color, 0.9);
    position: absolute;
    z-index: -1;
    display: block;
    bottom: -5px;
    left: -4px;
    height: 27px;
    right: -3px;
  }
  &:after {
    content: '';
    background: rgba($alt-color, 0.9);
    position: absolute;
    z-index: -1;
    display: block;
    top: -5px;
    left: -1px;
    height: 24px;
    right: -10px;

  }
}

a {
  color: $alt-color;

  &:hover {
    color: darken($alt-color, 30);
  }

  &:active {
    color: darken($alt-color, 20);
  }

  &:visited {
    color: $alt-color;
  }

  &:hover {
    color: darken($alt-color, 30);
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
}
  .project {
    width: 50%;
    padding: 30px;
  }
    .project-content {
      // border: 2px solid $alt-color-2;
      // border-radius: 5px;
      // overflow: hidden;
    }
    .project-image-container {
      position: relative;
      &:before {
        display: block;
        content: '';
        padding-top: 100%;
      }
    }
    .project-link {
      text-decoration: none;
      display: block;
    }
      .project-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .project-title {
        color: white;
        border-top: solid 4px $alt-color;
        padding: 10px 0;
        color: $text-color;
        font-size: 1.5em;
        @include headerFont;
        .project-link:hover & {
          text-decoration: underline;
          color: darken($alt-color, 10);
        }
      }
      .project-description {
        padding: 5px 0;
        padding-top: 0;
        color: #565657;
        line-height: 1.4;
        margin-bottom: 5px;
      }
      .project-extra-link {
        margin-bottom: 15px;
      }
      .project-tag {
        display: inline-block;
        background: rgba($alt-color, 0.7);
        color: white;
        font-size: 0.60em;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
  @media (max-width: 600px) {
    .project {
      width: 100%;
      padding: 30px 0;
    }
  }

.contact-link {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  font-size: 0.75em;
  color: #565657;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid $alt-color;
}
